html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: #eceef4;
}

.head_sec {
	min-width: 1200px;
	min-height: 150px;
	border: 1px solid black;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;	
}

  .go_back, .sign_in {
	background-color: #eceef4;
	border:  0.5px solid #c9d0e1;
	width: 	127px;
	height: 41px;
	border-radius: 4px;
	border: 0.5 px solid gray;
	outline: 0;
	font-family: 'FontAwesome';
	font-size: 10px;
	color: #9A9A9A;
}

.go_back:hover, .sign_in:hover {
	border: skyblue 2px solid;
}

.go_back:active, .sign_in:active {
	background-color: skyblue
}

.left_arrow {
	margin-top: 6px;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}

.logo_head {
	width: 85px;
	height: 85px;
}

.face {
	margin-top: 6px;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}










input[name=var]:checked + .select_item {
	border: 3px solid skyblue;
	border-radius: 3px;
}
	
input[name=var]:checked + .select_item:after {
	background: white;
}

